@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 58% 9%;
    --foreground: 0 0% 98%;
    --card: 216 58% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 216 58% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 79% 66%;
    --primary-foreground: 216 58% 9%;
    --secondary: 216 58% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 58% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 20 56% 63%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 58% 15%;
    --input: 216 58% 15%;
    --ring: 207 79% 66%;
    --chart-1: 207 79% 66%;
    --chart-2: 20 56% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 58% 9%;
    --foreground: 0 0% 98%;
    --card: 216 58% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 216 58% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 79% 66%;
    --primary-foreground: 216 58% 9%;
    --secondary: 216 58% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 58% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 20 56% 63%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 58% 15%;
    --input: 216 58% 15%;
    --ring: 207 79% 66%;
    --chart-1: 207 79% 66%;
    --chart-2: 20 56% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
